body {
  font-family: Helvetica, Arial, sans-serif;
}
body img {
  width: 300px;
}
nav img {
  width: 150px;
  margin-right: 100px;
}
a {
  color: #717171;
}
a:hover {
  color: #333333;
}
.counter {
  position: absolute;
  margin-left: -45px;
  margin-top: -5px;
}
.bag {
  width: 200px;
  height: auto;
}
